
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container mt-2">        
        <h4>Módulo Categoria<span style="font-size:12px;color:#808080"> Encantó boutique Tarija</span></h4>
        <div class="card mb-3 m-1">
            <div class="row">
                <div class="col-sm-12 col-lg-6 col-md-12">
                    <div class="col-sm">
                        <h4 class="form-section"><i class="fab fa-blogger-b"></i> Categoria</h4>
                        <input type="hidden" id="IdCategoria" value="0" />
                        <button type="button" onclick="Nuevo()" class="btn btn-outline-primary btn-block"><i class="fa fa-plus"></i><span style="margin-left:5px">Nuevo Registro</span> </button>
                        <label>Descripción</label>
                        <input type="text" disabled class="form-control" placeholder="Descripción" id="Descripcion" />

                        <hr style="margin-bottom:2px" />
                        <div class="row" style="margin-top:8px">
                            <div class="col-6">
                                <button type="button" class="btn btn-secondary btn-block" style="margin-bottom:10px" onclick="Cancelar()"><i class="far fa-times-circle"></i> Cancelar</button>
                            </div>
                            <div class="col-6">
                                <button type="button" disabled id="BtnGuardar" class="btn btn-success btn-block" style="margin-bottom:10px" onclick="Guardar()"><i class="far fa-check-circle"></i> Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6 col-md-12">
                    <div class="col-sm">
                        <h4 class="form-section"><i class="fab fa-blogger-b"></i> Lista Categorias</h4>
                        <div class="containerCustom table-responsive">
                            <table class='table table-hover table-sm' style='font-size:12px;'>
                                <thead>
                                    <tr style="background-color:#17a2b8;border-color:#17a2b8;color:white">
                                        <th width='1px'>Nº</th>
                                        <th>Descripcion</th>
                                        <th width='1px'></th>
                                        <th width='1px'></th>
                                    </tr>
                                </thead>
                                <tbody id="CategoriasTableHtml"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script type="text/javascript">
        var EstadoModificar = false;
        AllCategorias();
        function AllCategorias() {
            $('#CategoriasTableHtml').empty();
            $.getJSON('@Url.Action("AllCategorias","Categorias")', (O) => {
                var html = "";
                O.forEach((value, i) => {
                    html += "<tr><td>" + (i + 1) + "</td><td>" + value.Descripcion + "</td><td><button class='btn btn-outline-secondary btn-sm' onclick='ViewCategoria(" + value.Id + ",\"" + value.Descripcion + "\",true)'><i class='fa fa-pencil-alt'></i></button></td><td><button class='btn btn-outline-danger btn-sm' onclick='Eliminar(" + value.Id + ")'><i class='fa fa-trash'></i></button></td></tr>";
                });
                $('#CategoriasTableHtml').append(html);
            });
        }
        function ViewCategoria(IdCategoria, Descripcion, _EstadoModificar) {
            $("#IdCategoria").val(IdCategoria);
            $('#Descripcion').val(Descripcion);
            EstadoModificar = _EstadoModificar;
            disabledHtml();
        }
        function Eliminar(Id) {                  
            $.getJSON('@Url.Action("Eliminar","Categorias")', { Id: Id }, function (O) {
                if (O) {
                    toastr.success("El registro fue eliminado");
                    AllCategorias();
                } else {
                    toastr.error("Error no puedo eliminar el registro");
                }
            });
        }
        function Nuevo() {
            EstadoModificar = true;
            disabledHtml();
            LimpiarDatos();
        }
        function Cancelar() {
            EstadoModificar = false;
            disabledHtml();
            LimpiarDatos();
        }
        function disabledHtml() {
            $("#Descripcion").prop("disabled", !EstadoModificar);
            $("#BtnGuardar").prop("disabled", !EstadoModificar);
        }
        function LimpiarDatos() {
            $("#IdCategoria").val(0);
            $('#Descripcion').val("");
        }
        function Guardar() {
            var Obj = {
                Id: $("#IdCategoria").val(),
                Descripcion: $("#Descripcion").val()
            };
            $.ajax({
                url: '@Url.Action("Guardar","Categorias")',
                type: 'POST',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(Obj),
                success: function (O) {
                    if (O.responce) {
                        Cancelar();
                        AllCategorias();
                    }
                    MostarInfSave(O.StatusSave);
                }
            });
        };
    </script>
}